.notificationList {
  margin: 10px 40px;
  border: 1px solid black;
  border-radius: 10px;
  background: linear-gradient(60deg, #8a8839 10%, #29676d 100%);
}
.notification {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  color: #ffffff;
  font-weight: 600;
}
.closeIcon {
  position: relative;
  top: 2px;
}
/* Responsive Blog */
@media screen and (max-width: 800px) {
  .notification h5 {
    font-size: 13px;
  }
}
